{%  include 'common.html' %}

<form action="/question6_execute" method="get">
    number of queries: <input type="text" name="qcount">
    year: <input type="text" name="year">
    lower pop: <input type="text" name="lpop">
    higher pop: <input type="text" name="hpop">
    with cache?: <select name="form">
                      <option value="no">no</option>
                      <option value="yes">yes</option>
                    </select>
    <input type="submit" value="Execute" />
{#    <input type="submit" name= "form" value="ExecuteCache" />#}
</form>


{% if total_time %}

    <h1> {{total_time}} </h1>

{#    #}
{% endif %}